.btm-left {
  position: absolute;
  left: 1%;
  top:38%
}

.bottom-right {
  color:black;
  font-size: 44px;
  font-family: fantasy;
  position: relative;
  bottom: 8px;
  margin-left: 90%;
}
button {
  border-radius: 10px;
  border: none;
  background-color:black;
  color:white;
  font-weight: bold;
  height: 50px;
  width: 120px;
}
button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
